/*

Add styles or override variables from the theme here.

*/

$primary: #075061;
$secondary: #5f7174;
$success:   #006666;

$google_font_name: "Josefin Slab";
$google_font_family: "Josefin+Slab:300,300i,400,400i,700,700i";